* {
    box-sizing: border-box;
}

.header {
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https://images.unsplash.com/photo-1598653222000-6b7b7a552625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWMlMjBzdHVkaW98ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
}

.headerContainer {
    width: min(98%, 35rem);
    min-height: 20rem;

    padding: 1.5rem 3rem 3rem 3rem;

    background-color: white;
}

.optionsContainer {
    /* width: 40%; */
}

.optionsButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 1.5rem;
}

.optionButton {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-weight: bold;

    cursor: pointer;
}

.optionButton svg {
    margin-bottom: 0.8rem;

    color: black;
    font-size: x-large;
}

.optionButton:hover {
    border-bottom: 1px solid black;
    background-color: #8080800e;
}

.optionsCTAContainer {}

.CTAbutton {
    margin: 1.5rem 0 2rem 0;
    padding: 0.8rem;

    color: white;
    background-color: #ff5517;
    border: none;
    border-radius: 0.2rem;

    font-size: 0.9rem;

    cursor: pointer;
}

.CTAbutton svg {
    margin-right: 0.7rem;
}